<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--mybatis映射文件-->
<mapper namespace="com.example.mybatis.EmployeeMapper">

    <!--resultMap: 自定义结果集映射规则,自定义某个javaBean的封装规则
        id: 唯一id.方便引用
        type:自定义规则的java类型
        column:指定哪一列
        property:指定对应的javabean属性
    -->
    <resultMap id="myEmp" type="com.example.mybatis.Employee">
       <id column="id" property="id"></id>
        <result column="last_name" property="lastName"/>
        <result column="email" property="email"/>
        <result column="gender" property="gender"/>
        <result column="did" property="department.id"/>
        <result column="dept_name" property="department.departmentName"/>
    </resultMap>

    <select id="getEmpAndDept" resultMap="myEmp">
        select e.id ,e.last_name ,e.email email,e.gender gender,e.d_id d_id,d.id did,d.dept_name dept_name
        from tbl_employee e,tbl_dept d
        where e.d_id = d.id and e.id=#{id}
    </select>

    <!--实体类的字段名与数据库表中的字段名不一致:
        方法一:给表中的字段名加上别名,该别名与类的属性名一致
        方法二:在全局配置文件中设置settings标签,开启驼峰命名属性
        databaseId:就是根据全局配置文件中的 databaseIdProvider,指定数据库
        -->
    <select id="getEmpById" resultType="com.example.mybatis.Employee" >
        select * from tbl_employee where id = #{id}
    </select>

    <!--mysql在添加员工后,支持获取自增主键-->
    <insert id="addEmp" parameterType="com.example.mybatis.Employee" useGeneratedKeys="true" keyProperty="id">
        insert into tbl_employee(last_name,gender,email) values (#{lastName},#{gender},#{email})
    </insert>

    <!--parameterType可以省略-->
    <update id="updateEmp" >
        update tbl_employee
        set last_name=#{lastName},gender=#{gender},email=#{email}
        where id=#{id}
    </update>

    <delete id="deleteEmpById">
        delete from tbl_employee where id=#{id}
    </delete>

    <select id="getEmpByIdAndLastName" resultType="com.example.mybatis.Employee">
        select * from tbl_employee where id = #{id} and last_name=#{lastName}
    </select>

    <select id="getEmpByMap" resultType="com.example.mybatis.Employee">
         select * from tbl_employee where id = #{id} and last_name=#{lastName}
    </select>


    <select id="getEmpByLastName" resultType="com.example.mybatis.Employee">
        select * from tbl_employee where last_name=#{name}
    </select>

    <select id="getEmpByIdRe" resultType="map">
        select * from tbl_employee where id=#{id}
    </select>

    <select id="getEmpMap" resultType="com.example.mybatis.Employee">
         select * from tbl_employee where last_name=#{name}
    </select>

</mapper>