<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
   <script>
      //替换掉所有的 html标签，得到Html标签中的内容
      var s="<p><span>该技术主要用45404.7）。</span> </p> <p><span colour:red;>fasdf激发论文开饭啦世纪东方</span></p> ";
      var dd=s.replace(/<\/?.+?>/g,"");
      var dds=dd.replace(/ /g,"");//dds为得到后的内容
      alert(dds);
      console.log(dds);
   </script>
</head>
<body stayle="font-family:SimSun;">
   <!-- logo区 -->
   <div>
      <p>this is a picture 中温热</p>
   </div>
   <!-- 内容区 -->
   <div style="color:blue;">
      <h1>sdfasdf</h1>
      <p>sadfas</p>
      <p>然后dsfae4放油加热</p>
      <p>放ffdfd材料,爆炒</p>
      <p>放fdf调料</p>
      <p>出dfd锅!</p>
   </div>
   <!-- 版权区 -->
   <div style="color:red;">
   <p>版权所有,盗版必究!</p>
   </div>
   
</body>
</html>